{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="card shadow-sm">
                        <div class="card-img-top"
                         style="height: 400px; width: 100%;
            background: linear-gradient(rgba(85, 89, 92, 0), rgba(85, 89, 92, 0)),
                        url('{{ object.preview | media_filter }}') center/contain no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #eceeef;
            font-size: 1.2rem;">
                    </div>
                        <div class="card-body">
                            <h3 class="card-text"> {{ object.title }}</h3>
                            <p class="card-text"> {{ object.content }}</p>
                            <p class="card-text">Дата создания: {{ object.created_at }}</p>
                            <a class="btn btn-sm btn-outline-secondary" role="button" href="{% url 'blog:notes_list' %}">Назад</a>
                        </div>
                    </div>
        </div>
    </div>
{% endblock %}