{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-img-top"
                         style="height: 225px; width: 100%;
            background: linear-gradient(rgba(85, 89, 92, 0.7), rgba(85, 89, 92, 0.7)),
                        url('{{ product.image | media_filter }}') center/cover;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #eceeef;
            font-size: 1.2rem;">
                        {{ product.name }}
                    </div>
                    <div class="card-body"><p class="card-text">{{ product.get_description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-sm btn-outline-secondary" role="button" href="{% url 'catalog:products_detail' product.pk %}">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}