{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h1>Товары в категории: {{ category.name }}</h1>
        {% if products %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-img-top"
                         style="height: 225px; width: 100%;
            background: linear-gradient(rgba(85, 89, 92, 0.7), rgba(85, 89, 92, 0.7)),
                        url('{{ product.image | media_filter }}') center/cover;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #eceeef;
            font-size: 1.2rem;">
                        {{ product.name }}
                    </div>
                    <div class="card-body"><p class="card-text">{{ product.get_description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {% if user.is_authenticated %}
                            <a class="btn btn-sm btn-outline-secondary" role="button"
                               href="{% url 'catalog:products_detail' product.pk %}">Подробнее</a>
                            {% endif %}
                            {% if perms.catalog.can_unpublish_product %}
                            <a class="btn btn-sm btn-outline-secondary" role="button"
                               href="{% url 'catalog:products_update' product.pk %}">Редактировать</a>
                            {% endif %}
                            {% if perms.catalog.can_delete_product %}
                            <a class="btn btn-sm btn-outline-secondary" role="button"
                               href="{% url 'catalog:products_delete' product.pk %}">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>В этой категории пока нет товаров.</p>
        {% endif %}
    </div>
</div>
{% endblock %}